/* Cat.css */

.container {
    padding: 20px;
  }
  
  .row {
    background: rgb(230, 230, 217);
    padding: 20px;
  }
  
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .card {
    max-width: 18rem;
    margin: 10px;
  }
  
  .card-img-top {
    max-height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-top: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    color: #333;
  }
  
  /* Add hover effect */
  .hovereffect:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  