/* Adminproduct.css */

.admin-products-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  
  .admin-products-table-container {
    flex: 1;
    padding: 20px;
  }
  
  .admin-products-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-products-table th,
  .admin-products-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .admin-products-table thead {
    background-color: #007bff;
    color: #fff;
  }
  
  .admin-products-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .admin-products-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .admin-product-image {
    max-width: 100px;
    height: auto;
  }
  
  .delete-button,
  .update-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .delete-button:hover,
  .update-button:hover {
    background-color: #0056b3;
  }
  